@import "../../../../vars";

h1{
  margin:10px;
}

.register-form {
  margin: 30px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

app-edit-skills {
  // No clue why this works
  width: 99%;
}

.link-span {
  &:hover{
    color: $secondary-dark;
  }
}