
<div class="container container-md">
    <h1 class="mat-display-1">{{'JOBOFFEREDIT.LABEL.TITLE' | translate}}</h1>
  <form class="edit-form">
    <mat-form-field>
      <input matInput
             required
             placeholder = "{{'JOBOFFER.LABEL.TITLE' | translate}}"
             value = "{{joboffer.title}}"
             type = "text"
             [(ngModel)]="joboffer.title"
             [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             required
             placeholder = "{{'JOBOFFER.LABEL.POSITION' | translate}}"
             value = "{{joboffer.function}}"
             type = "text"
             [(ngModel)]="joboffer.function"
             [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             required
             placeholder="{{'JOBOFFER.LABEL.SALARY' | translate}}"
             value="{{joboffer.salary}}"
             type="number"
             [(ngModel)]="joboffer.salary"
             [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             placeholder="{{'JOBOFFER.LABEL.LOCATION' | translate}}"
             value="{{joboffer.location}}"
             type="text"
             [(ngModel)]="joboffer.location"
             [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             required
             placeholder="{{'JOBOFFER.LABEL.JOBDESCRIPTION' | translate}}"
             value="{{joboffer.information}}"
             type="text"
             [(ngModel)]="joboffer.information"
             [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <app-edit-skills [element]="joboffer"></app-edit-skills>
  </form>
  <div class="footer-buttons">
    <button mat-stroked-button class="default-button" (click)="edit()"><i class="material-icons-round button-icon">create</i> {{'JOBOFFER.BUTTON.EDIT' | translate}}</button>
    <button mat-stroked-button (click)="cancel()"><i class="material-icons-round button-icon">clear</i>{{'JOBOFFER.BUTTON.CANCEL' | translate}}</button>
  </div>
</div>
