
<div class="container container-sm">
    <h1 class="mat-display-1">{{'JOBOFFEREDIT.LABEL.TITLE' | translate}}</h1>
  <form class="edit-form">
    <mat-form-field>
      <input matInput
             required
             placeholder = "{{'JOBOFFER.LABEL.TITLE' | translate}}"
             value = "{{joboffer.title}}"
             type = "text"
             [(ngModel)]="joboffer.title"
             [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             required
             placeholder = "{{'JOBOFFER.LABEL.POSITION' | translate}}"
             value = "{{joboffer.function}}"
             type = "text"
             [(ngModel)]="joboffer.function"
             [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             required
             placeholder="{{'JOBOFFER.LABEL.SALARY' | translate}}"
             value="{{joboffer.salary}}"
             type="number"
             [(ngModel)]="joboffer.salary"
             [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             required
             placeholder="{{'JOBOFFER.LABEL.JOBDESCRIPTION' | translate}}"
             value="{{joboffer.information}}"
             type="text"
             [(ngModel)]="joboffer.information"
             [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             placeholder="{{'JOBOFFER.LABEL.LOCATION' | translate}}"
             value="{{joboffer.location}}"
             type="text"
             [(ngModel)]="joboffer.location"
             [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <app-edit-skills [jobOffer]="joboffer"></app-edit-skills>
  </form>
  <button mat-stroked-button color="warn" (click)="cancel()">{{'JOBOFFEREDIT.BUTTON.CANCEL' | translate}}</button>
  <button mat-stroked-button color="default" (click)="edit()">{{'JOBOFFER.BUTTON.EDIT' | translate}}</button>
</div>
