.checkbox-section{
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.companylist{
  height: 35px;
  margin-left: 15px;
}

.pop-up-container{
  display:flex;
  flex-direction: column;
  button {
    align-self: center;
    width: fit-content;
  }
  p {
    align-self: center;
    font-weight: bold;
    font-size: 18px; 
  }
}