<div class="container container-md">
  <h1>Review schrijven</h1>
  <mat-divider></mat-divider>
  <mat-spinner [diameter]="50" *ngIf="!reviews"></mat-spinner>
  <h3 *ngIf="reviews?.length === 0"> Geen reviews om te schrijven</h3>

  <div *ngFor="let review of reviews; let i = index">
    <h3> Review over {{targets[i]}}</h3>
    <form>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="schrijf je review" [(ngModel)]="review.content"
                  [ngModelOptions]="{standalone: true}"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="aantal sterren" min="1" max="5" type="number" [(ngModel)]="review.stars"
               [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <button (click)="save(i)" mat-raised-button color="primary">Opslaan</button>
    </form>
    <mat-divider></mat-divider>
  </div>
</div>
