<div class="container container-sm">

  <h1 class="mat-display-1">Henk van Wolken <i class="material-icons">school</i></h1>
  <mat-list>
    <mat-list-item><p><b>Naam:</b> Henk</p></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><p><b>Achternaam:</b> van Wolken</p></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><p><b>Leeftijd:</b> 22</p></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><p><b>School:</b> Fontys Eindhoven</p></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><p><b>Leerjaar:</b> 4</p></mat-list-item>
  </mat-list>
</div>