<div class="container container-sm" *ngIf="user">

  <h1 class="mat-display-1">{{user.firstName | titlecase}} {{user.lastName}} <i class="material-icons">school</i></h1>
  <mat-list>
    <mat-list-item><p><b>Naam:</b> {{user.firstName}}</p></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><p><b>Achternaam:</b> {{user.lastName}}</p></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><p><b>Geboortedatum:</b> {{user.dateOfBirth | date}}</p></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><p><b>School:</b> {{user.institute}}</p></mat-list-item>
    <!-- <mat-divider></mat-divider>
    <mat-list-item><p><b>Leerjaar:</b> 4</p></mat-list-item> -->
    <mat-divider></mat-divider>
    <mat-list-item><p><b>E-mail:</b> {{user.email}}</p></mat-list-item>
    
  </mat-list>
</div>
<div class="container container-sm" *ngIf="!user">
  Gebruiker niet gevonden. 
</div>