<div class="container container-sm">

  <span *ngIf="!company">Loading company...</span>
  <ng-container *ngIf="company">
  <h1 class="mat-display-1">{{company.name}}</h1>
  <mat-list>
    <ng-container *ngIf="company.description">
      <mat-list-item><p><b>Beschrijving:</b> {{company.description}}</p></mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
    <ng-container *ngIf="company.city">
      <mat-list-item><p><b>Stad:</b> {{company.city}}</p></mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
    <ng-container *ngIf="company.streetname">
      <mat-list-item><p><b>Straat:</b> {{company.streetname}}</p></mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
    <ng-container *ngIf="company.housenumber">
      <mat-list-item><p><b>Huisnummer:</b> {{company.housenumber}}</p></mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
    <ng-container *ngIf="company.postalcode">
      <mat-list-item><p><b>Postcode:</b> {{company.postalcode}}</p></mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-list>
  </ng-container>
</div>
