h1 {
  margin: 10px;
}

.container {
  text-align: center;
}

.application-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.files-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: baseline;
}

.files-radio-button {
  margin: 5px;
}

@media only screen and (max-width: 850px) {
  .application-form {
    margin: 20px;
  }
}
