<div class="container container-md">
  <h1 class="mat-display-1">{{'JOBOFFER.APPLY.TITLE' | translate}}</h1>
  <form ngNativeValidate class="application-form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput required
             type="email"
             placeholder="{{'USERPROFILE.FIELD.EMAIL' | translate}}"
             [ngModel]="user.email"
             [ngModelOptions]="{standalone: true}"
             name="email">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             disabled
             type="text"
             placeholder="{{'USERPROFILE.FIELD.FIRSTNAME' | translate}}"
             [ngModel]="user.firstName"
             [ngModelOptions]="{standalone: true}"
             name="firstName">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             disabled
             type="text"
             placeholder="{{'USERPROFILE.FIELD.LASTNAME' | translate}}"
             [ngModel]="user.lastName"
             [ngModelOptions]="{standalone: true}"
             type="text">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             disabled
             type="text"
             placeholder="{{'USERPROFILE.FIELD.INSTITUTE' | translate}}"
             [ngModel]="user.institute"
             [ngModelOptions]="{standalone: true}"
             name="institute">
    </mat-form-field>

    <ckeditor class="ckeditor-css" [(ngModel)]="application.motivationLetter" [editor]="Editor" data="" [ngModelOptions]="{standalone: true}"></ckeditor>
    <mat-radio-group [name]="FileSelection" [(ngModel)]="this.selectedFile" [ngModelOptions]="{standalone: true}" *ngIf="fileToUpload == null" class="files-radio-group">
      <mat-radio-button class="files-radio-button"  *ngFor="let file of files" [value]="file.fileName">{{file.fileDisplayName}}</mat-radio-button>
    </mat-radio-group>
    <input
      accept    = "application/pdf"
      type="file"
      ngf [(file)]="fileToUpload" />
    <button *ngIf="jobOffer" type="submit" mat-raised-button class="default-button"><i class="material-icons-round button-icon">check</i>{{'JOBOFFER.BUTTON.APPLY' | translate}}</button>
  </form>
</div>
