<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <a href="/" >  
    <span>{{title | titlecase}}</span>
  </a>

  <span class="fill-remaining-space"></span>
  <a mat-stroked-button color="default" title="Profiel inzien" routerLink="user/register">{{'NAVBAR.REGISTER' | translate}}</a>
  <a mat-stroked-button color="default" title="Profiel inzien" routerLink="/user/view-profile/0">{{'NAVBAR.PROFILE' | translate}}</a>
</mat-toolbar>

<router-outlet></router-outlet>
