h1{
  margin:10px;
}

.container {
  text-align: center;
  form{
    margin: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
}

.user-edit-profile-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

