a {
  color: black;
}
h1{
  font-weight: normal;
}
mat-card-actions {
  display: flex;
}
mat-paginator {
  display: flex;
  justify-content: center;
}
.joboffer-table{
  width: 100%;
  .joboffer-row{
    &:hover{
      cursor: pointer;
      background:rgba(0,0,0,.04);
      border-radius: 20px;
    }
  }
  mat-header-cell{
    font-weight: bold;
    font-size: 18px;
  }
}

.custom-button{
  position:relative;
  button {
    position:absolute;
    right: 20px;
    top: 45px;
  }
}