<div class="content">
  <div class="container container-sm container-search" *ngIf="!isOwnJobOffers">
    <h1 class="search-header">{{ 'JOBOFFER.SEARCH.HEADER' | translate}}</h1>
    <mat-divider></mat-divider>
    <mat-accordion [class.mat-elevation-z0]="true" [multi]="true" displayMode="flat">
      <mat-expansion-panel  [expanded]="true" [class.mat-elevation-z0]="true" [hideToggle]="true">
        <mat-expansion-panel-header (click)="setAccordian(0)">
          <mat-panel-title>
            <mat-icon>{{accordianStates[0]  ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
            <h4>{{ 'JOBOFFER.SEARCH.LABEL.QUERY' | translate}}</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field class="search-title">
          <input matInput [(ngModel)]="searchQuery" (change)="getServerData(undefined)" placeholder="{{ 'JOBOFFER.SEARCH.PLACEHOLDER.QUERY' | translate}}">
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel  [expanded]="true" [class.mat-elevation-z0]="true" [hideToggle]="true">
        <mat-expansion-panel-header (click)="setAccordian(1)">
          <mat-panel-title>
            <mat-icon>{{accordianStates[1]  ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
            <h4>{{ 'JOBOFFER.LABEL.COMPANY' | translate}}</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-checkbox *ngFor="let company of companies" [value]="company.uuid" (change)="companyChange($event)">{{company.name}}</mat-checkbox>
      </mat-expansion-panel>
      <mat-expansion-panel  [expanded]="true" [class.mat-elevation-z0]="true" [hideToggle]="true">
        <mat-expansion-panel-header (click)="setAccordian(2)">
          <mat-panel-title>
            <mat-icon>{{accordianStates[2]  ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
            <h4>{{ 'JOBOFFER.SEARCH.LABEL.SKILLS' | translate}}</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-checkbox *ngFor="let skill of skills" [value]="skill.id" (change)="skillChange($event)">{{skill.name}}</mat-checkbox>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="container container-md container-joboffer">
    <h1 class="flex-h1"><span><ng-container *ngIf="!isOwnJobOffers">{{'JOBOFFER.JOBOFFERS' | translate}}</ng-container>
      <ng-container *ngIf="isOwnJobOffers">{{'JOBOFFER.MYJOBOFFERS' | translate}}</ng-container></span>
    </h1>

    <div ng-if="jobOffers?.length > 0" *ngFor="let joboffer of jobOffers" class="pointer" (click)="getJobOfferDetails(joboffer.id)">
      <mat-card class="mat-elevation-z0 joboffer-card">
        <mat-card-header>
          <mat-card-title>
            <h2><a class="joboffer-title" routerLink="/joboffers/details/{{joboffer.id}}">{{joboffer.title}}</a></h2>
          </mat-card-title>
          <mat-card-subtitle class="content-left">
            <div>
              <h3>
                {{findCompanyInList(joboffer.company).name}},
                {{joboffer.location}} |
                €{{joboffer.salary}} p/m
              </h3>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div>
            <h3 class="content-header">{{'JOBOFFER.FIELD.INFORMATION.PLACEHOLDER' | translate}}: </h3>
            <p class="card-content">
              {{joboffer.information}}
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngIf="!jobOffers?.length">
      <p>{{ 'JOBOFFER.NOJOBOFFERS' | translate}}</p>
    </div>
    <mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex"
                   [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvent = getServerData($event)">
    </mat-paginator>
  </div>

    <ng-container *ngIf="!isOwnJobOffers" class="container-sm">
      <app-topofdays></app-topofdays>
    </ng-container>
</div>
