@import "../../../../vars";

.topofday-table {
  margin-bottom: 20px;
}
.topofday-header {
  display: flex;
  align-items: center;
  justify-content: center;
  i.material-icons-round {
    margin-left: 5px;
    font-size: 20px;
    color: $primary-dark;
  }
}
.topofday-container {
  margin-left: 0px;
  justify-content: center;
  align-content: center;
  align-items: center;
  // flex-direction: column;

  &::-webkit-scrollbar {
    display: none;
  }
  &.multiple {
    overflow-y: hidden;
    overflow-x: auto;
    display: -webkit-box;
  }
  .topofday-card {
    height: 150px;
    max-width: 300px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-bottom: 15px;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    overflow: hidden;
    mat-card-header {
      display: block;
      .mat-card-title {
        white-space: nowrap;
        text-overflow: ellipsis;
        color: royalblue;
        overflow: hidden;
        word-break: break-all;
        height: 28px;
      }
    }
    .mat-card-content {
      word-wrap: break-word;
      height: 50px;
      padding-left: 15px;
      padding-right: 15px;
      overflow: hidden;
    }
    .topper-text {
      text-align: center;
      font-size: 15px;
      .topofday-icon {;
        font-size: 20px;
        color: $primary;
        display: inline-flex;
        vertical-align: top;
        font-weight: bold;
      }
    }
    &:hover {
      background-color: $secondary;
    }
  }
}

h1 {
  font-size: 30px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 960px) {
    .topofday-container {
        flex-direction: column;
        width: 100%;
        .topofday-card {
          width: 90%;
          margin-bottom: 10px;
          margin-top: 10px;
          &:last-child {
            margin-bottom: 25px;
          }
        }
      }
}
