// a {
//   color: black;
// }
h1{
  margin:10px;
}

.profile-btn {
  margin-left: 10rem;
  justify-self: flex-end;
}

.applicant-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  
}

a {
  color: gray;
  text-decoration: none;
  display: inline;
  padding-left:10px;
  padding-top:10px;
  padding-bottom:10px;
  &:hover{
    padding-left:10px;
    padding-right:10px;
    background:rgba(0,0,0,.04);
    border-radius: 20px;
  }
}
mat-list{
  margin: 50px;
  margin-top: 10px;
  margin-bottom: 15px;
}