a {
  color: black;
}

.profile-btn {
  margin-left: 10rem;
  justify-self: flex-end;
}

.applicant-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.applicant-count{
  margin-left: 16px;
  margin-right: 16px;
  color: grey;
}

.apply-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
