/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./vars";

html {
  min-height: 100%;
}

body {
  margin: 0;
  background: lightgray;
  font-family: "Roboto", sans-serif;
  min-height: 100%;
  overflow-y: hidden;
}

.container {
  margin: 30px;
  padding: 20px;
  border-radius: 5px;
  background: white;
  text-align: center;
  border: 1px solid lightgray;
}

.container-sm {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 80px;
  width: 700px;
}

.container-md {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 80px;
  width: 50%;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $secondary-dark;
  color: black;
  text-align: center;

  .footer-content {
    font-size: 18px;
  }

  img {
    cursor: pointer;
  }
}

mat-row {
  &:last-child {
    border-bottom: none;
    // margin-bottom:20px;
    &:hover {
      border-bottom: solid;
      border-bottom-width: 0.35px;
      border-color: lightgray;
    }
  }

  &:nth-child(even) {
    background-color: #bebdbd2a;
  }
}

form {
  button {
    width: fit-content;
    align-self: center;
  }
}

.primary {
  background: $primary;
}

.nav-item-link {
  margin-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  display: flex;
  align-items: center;

  &:last-child {
    border: none;
  }

  .nav-icon {
    padding-left: 5px;
    font-size: 19px;
    padding-right: 5px;
  }

  border-right: 1px solid $secondary;

  &:hover {
    color: $secondary-dark !important;
    cursor: pointer;

    .nav-item-icon-link {
      color: $secondary-dark !important;
    }
  }
}

.pointer {
  cursor: pointer;
}

.default-button {
  background: $primary-light;
  color: white;
}

.footer-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  margin-left: 25%;
}

i.button-icon {
  font-size: 15px;
  padding-right: 5px;
}

input:-internal-autofill-selected {
  background-color: $primary-light;
}

.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: $secondary;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.no-content {
  color: gray;
}

#container {
  top: 64px !important;
}

/*
.mat-checkbox-checked {
  .mat-checkbox-inner-container {
    background-color: $primary;
    border-color: $primary;
  }
}
*/

@media (max-width: 850px) {
  #container {
    top: 56px !important;
  }
}

@media only screen and (max-width: 850px) {
  body {
    .container {
      width: stretch;
      margin-left: 0px;
      margin-right: 0px;
      padding: 5px;
    }

    mat-list {
      margin: 5px !important;
    }

    .mat-list-item {
      padding-top: 5px;
      padding-bottom: 5px;
      text-align: left;
    }
  }
}
