<div class="container container-sm">

  <h1 class="mat-display-1">Registreren</h1>
  <form [formGroup]="form" class="register-form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput required
             type="email"
             placeholder="Email"
             [(ngModel)]="user.email"
             [ngModelOptions]="{standalone: true}"
             name="email">
    </mat-form-field>
    <mat-form-field >
      <input matInput required
             type="text"
             placeholder="First name"
             [(ngModel)]="user.firstName"
             [ngModelOptions]="{standalone: true}"
             name="firstName">
    </mat-form-field>
    <mat-form-field>
      <input matInput required
             type="text"
             placeholder="Last name"
             [(ngModel)]="user.lastName"
             [ngModelOptions]="{standalone: true}"
             name="lastName">
    </mat-form-field>
    <mat-form-field>
      <input matInput required
             type="date"
             placeholder="Date of birth"
             [(ngModel)]="user.dateOfBirth"
             [ngModelOptions]="{standalone: true}"
             name="date">
    </mat-form-field>
    <mat-form-field>
      <input matInput required
             type="text"
             placeholder="School or institute"
             [(ngModel)]="user.institute"
             [ngModelOptions]="{standalone: true}"
             name="institute">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="password" [errorStateMatcher]="passwordErrorMatcher" required type="password" placeholder="Password" [(ngModel)]="user.password" name="password">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="confirm" [errorStateMatcher]="confirmErrorMatcher" required type="password" placeholder="Confirm password" name="passwordConfirm">
      <mat-error>Error: {{ getErrorMessage('confirm') }}</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Register</button>
  </form>
</div>
