<div class="container container-md">
  <div class="login-container" id="left-login-container">
    <h2>{{ 'LOGIN.TITLE.STUDENT' | translate}} <i class="material-icons">school</i></h2>
    <form class="login-form" (ngSubmit)="studentLogin()">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'LOGIN.FIELD.EMAIL.PLACEHOLDER' | translate}}</mat-label>
        <input matInput required type="email" placeholder="{{ 'LOGIN.FIELD.EMAIL.PLACEHOLDER' | translate}}"
          [(ngModel)]="user.email" name="email">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{ 'LOGIN.FIELD.PASSWORD.PLACEHOLDER' | translate}}</mat-label>
        <input matInput required type="password" placeholder="{{ 'LOGIN.FIELD.PASSWORD.PLACEHOLDER' | translate}}"
          [(ngModel)]="user.password" name="password">
      </mat-form-field>
      <button class="login-btn default-button" type="submit"
        mat-raised-button>{{ 'LOGIN.BUTTON.LOGIN' | translate}}</button>
    </form>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="login-container">
    <h2>{{'LOGIN.TITLE.COMPANY' | translate}} <i class="material-icons">business_center</i></h2>
    <form class="login-form" (ngSubmit)="companyLogin()">
      <mat-form-field appearance="outline">
          <mat-label>{{ 'LOGIN.FIELD.EMAIL.PLACEHOLDER' | translate}}</mat-label>
        <input matInput required type="email" placeholder="{{ 'LOGIN.FIELD.EMAIL.PLACEHOLDER' | translate}}"
          [(ngModel)]="company.email" name="email">
      </mat-form-field>
      <mat-form-field appearance="outline">
          <mat-label>{{ 'LOGIN.FIELD.PASSWORD.PLACEHOLDER' | translate}}</mat-label>

        <input matInput required type="password" placeholder="{{ 'LOGIN.FIELD.PASSWORD.PLACEHOLDER' | translate}}"
          [(ngModel)]="company.password" name="password">
      </mat-form-field>
      <button class="login-btn default-button" type="submit"
        mat-raised-button>{{ 'LOGIN.BUTTON.LOGIN' | translate}}</button>
    </form>
  </div>
</div>