.container {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.login-container {
  width: 40%;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.login-btn {
  width: 10rem;
  align-self: center;
}

mat-divider {
  background-color: grey;
}
h2{
  display: flex;
  align-items: center;
  justify-content: center;
  i{
    margin-left: 5px;
  }
}

@media only screen and (max-width: 850px){
  .container{
    flex-direction: column;
    padding-bottom: 20px;
    .login-container{
      width: 100%;
      mat-divider{
        margin-top: 15px;
      }
    }

  }
}